pkgbase = mingw-w64-gst-rtsp-server
	pkgdesc = RTSP server library based on GStreamer (mingw-w64)
	pkgver = 1.24.2
	pkgrel = 1
	url = http://gstreamer.freedesktop.org/
	arch = any
	license = LGPL
	makedepends = mingw-w64-meson
	depends = mingw-w64-gst-plugins-base
	options = !strip
	options = !buildflags
	options = staticlibs
	source = http://gstreamer.freedesktop.org/src/gst-rtsp-server/gst-rtsp-server-1.24.2.tar.xz
	sha256sums = e4c84a78675e7efef3b26e9cb9e2e427318421b4ad9ee4b5136efaeebb6bba0c

pkgname = mingw-w64-gst-rtsp-server
